<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="InAppData" connectionString="Data Source=(localdb)\MSSQLLocalDB;database=Organization;AttachDBFilename=|DataDirectory|\Organization.mdf;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDBAccess" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:65312/DBAccess.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IDBAccess" contract="WCF_ADOReference.IDBAccess"
        name="BasicHttpBinding_IDBAccess" />
    </client>
  </system.serviceModel>
</configuration>